*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.menu-container {
  display: flex;
  justify-content: center;
}

ul {
  list-style-type: none;
  overflow: hidden;
  background: red;
  border: 1px solid #ccc;
}

li {
  float: left;
}

li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  border-right: 1px solid #ccc;
}

li:last-child a {
  border-right: none;
}

li a:hover {
  background-color: rgb(240, 112, 112);
}
